.voteManage-page {
    

}

.voteManage-step {
    margin-top: 22px;
    .voteManage-step-item {
        margin: 0px 5px;
        margin-bottom: 10px;
        height: 75px;
        background-color: #fff;
        padding: 0px 28px;
        color: #595757;
        .step-index {
            font-size: 48px;
            font-weight: 500;
        }
        .step-name {
            font-size: 16px;
        }
        .step-dec {
            font-size: 14px;
        }
    }
    .voteManage-step-item_selected {
        .voteManage-step-item();
        background-color: #FF6A00;
        color: #fff;

    }
}

.voteManage-vote-editor {
    margin: 20px 5px;
    width: 100%;
    .editor-form {
        background-color: #fff;
        padding: 20px;
        box-sizing: content-box;
        &-title {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
        }

    }
    .editor-preview {
        border: 1px solid #999;
        height: 600px;

    }
}
