
@keyframes nav_spread{
    0%{
      height: 0px;
    }
    100%{
      height: 348px;
    }
}


@keyframes nav_packup{
    0%{
      height: 348px;
    }
    100%{
      height: 0px;
    }
}


.layout {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .layout-header {
        width: 100%;
        height: 72px;
        background-color: #3E3A39;
        display: flex;
        justify-content: center;
        .nemu-button_phone {
            display: none;
        }
        &-content {
            flex: 1;
            max-width: 1100px;
            height: 72px;
            background-color: #3E3A39;
        }
        &-logo {
            width: 110px;
            height: 26px;
        }
        &-message {
            color: #fff;
            width: 15px;
            height: 15px;
        }
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #eee;
        }
        &-username {      
            line-height: 15px;  
            font-size: 13px;
            font-weight: 400;
            color: #FFFFFF;
        }
        &-userVersion {
            color: #FF6A00;
            font-size: 11px;
            line-height: 13px;
    
        }
    }
    .layout-menu {
        width: 100%;
        height: 44px;
        background-color: #352F2D;
        display: flex;
        justify-content: center;
        &-content {
            flex:1;
            max-width: 1100px;
            height: 44px;
        }
        &-item {
            height: 100%;
            font-size: 13px;
            font-weight: 500;
            color: #B5B5B6;
            line-height: 44px;
            padding: 0px 20px;
        }
        .layout-menu-item_selected {
            padding: 0px 20px;
            line-height: 44px;
            height: 100%;
            font-size: 13px;
            font-weight: 500;
            color: #FF6A00;
            border-bottom: 4px solid #FF6A00;
        }
    } 
    .layout-phoneNav {
        display: none;
    }
    .layout-phoneNav_spread {
        border-top: 1px solid #352F2D;
        width: 100%;
        background-color: #3E3A39;
        animation: nav_spread 0.5s ease 1 forwards;
    }
    .layout-phoneNav_packup {
        border-top: 1px solid #352F2D;
        width: 100%;
        background-color: #3E3A39;
        animation: nav_packup 0.5s ease 1 forwards;
    }
    .layout-content-wrap {
        background-color: #EFEFEF;
        flex: 1;
    }
    .layout-content {
        max-width: 1100px;
        height: 100%;
        width: 100%;
    }
    .layout-footer  {
        height: 110px;
        width: 100%;
        background-color: #3E3A39;
        .layout-footer-content  {
            max-width: 1100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            a { 
                display: inline-block;
                margin-left: 10px;
                color: #fff;
            }
            .footer-bank {
                margin-top: 15px;
                color: #898989;
            }
        }
    }
}
/* ipad pro */
@media screen and (max-width: 992px) {
    .layout-header {
        padding: 0px 20px;
    }
    .layout-phoneNav {
        height: 0px;
        overflow:hidden;
        display: block !important;
        width: 100%;
        background-color: #3E3A39;
        border-top: 1px solid #352F2D;
        .layout-phoneNav-content {
            padding: 20px;
            .layout-phoneNav-item {
                display: block;
                height: 100%;
                font-size: 13px;
                font-weight: 500;
                color: #B5B5B6;
                line-height: 44px;
                padding: 0px 20px;
            }
            .layout-phoneNav-item_selected {
                .layout-phoneNav-item();
                color: #FF6A00;
            }
        }
    }
    
    .nemu-button_phone {
        display: block !important;
        color: #fff;
        font-size: 22px;
    }
    .layout-menu {
        display: none !important;
    }
    .user-info_pc {
        display: none ;
    }
   
   

}
/* ipad */
@media screen and (max-width: 768px) {

}

